@use "_icon.scss";

.daracl-toast-wrapper {
  :root {
    --dark: #155724;
    --light: #ffffff;
    --success: #0abf30;
    --error: #e24d4c;
    --warning: #e9bd0c;
    --info: #3498db;
  }

  z-index: 10000;
  position: fixed;
  min-width: 250px;
  max-width: 400px;
  color: var(--light);

  &.dt-left {
    left: 10px;
  }

  &.dt-center {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.dt-right {
    right: 10px;
  }

  &.dt-top {
    top: 10px;
  }

  &.dt-top.dt-center {
    transform: translate(-50%, -0%) !important;
  }

  &.dt-bottom.dt-center {
    transform: translate(-50%, -0%) !important;
  }

  &.dt-middle {
    top: 50%;
    transform: translate(0, -50%);
  }

  &.dt-middle.dt-center {
    transform: translate(-50%, -50%) !important;
  }

  &.dt-bottom {
    bottom: 10px;
  }

  > .daracl-toast {
    border-radius: 4px;
    margin-bottom: 5px;
    position: relative;
    background-position: 12px 45%;
    background-repeat: no-repeat;

    animation: daraclFadeIn 1s;
    animation-fill-mode: forwards;

    > .dt-header {
      padding: 5px 20px 5px 40px;
      position: relative;
      top: 0px;
      border-radius: 4px 4px 0px 0px;
    }

    > .dt-body {
      padding: 10px 25px 10px 50px;
    }

    &.dt-header {
      background-position: 7px 4px;

      > .dt-body {
        background-color: #f7f7f7;
        padding-left: 10px;
        color: var(--dark);
      }
    }

    &.dt-primary {
      background-color: #cce5ff;
      border-color: #b8daff;
      color: var(--light);
      background-image: icon.icon(primary, "0d6efd");
    }

    &.dt-secondary {
      background-color: #e2e3e5;
      border-color: #d6d8db;
      color: var(--light);
      background-image: icon.icon(secondary, "6c757d");
    }

    &.dt-info {
      background-color: #d1ecf1;
      border-color: #bee5eb;
      color: var(--light);
      background-image: icon.icon(info, "0dcaf0");
    }

    &.dt-success {
      background-color: #d4edda;
      border-color: #c3e6cb;
      color: var(--light);
      background-image: icon.icon(success, "198754");
    }

    &.dt-warning {
      background-color: #fff3cd;
      border-color: #ffeeba;
      color: var(--dark);
      background-image: icon.icon(warning, "ffc107");
    }

    &.dt-danger {
      background-color: #f8d7da;
      border-color: #f5c6cb;
      color: var(--light);
      background-image: icon.icon(danger, "dc3545");
    }


    &.dt-hide {
      animation: daraclFadeOut 0.5s;
      animation-fill-mode: forwards;
      //animation: daraToastHide 0.3s ease forwards;
    }

    .dt-content {
      word-wrap: break-word;
    }

    > .dt-close {
      font-size: 1.2rem;
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      color: #444444;
      text-align: center;
      cursor: pointer;
      z-index: 1;
    }

    .dt-progress-bar {
      position: absolute;
      left: 0;
      border-radius: 4px;
      bottom: 2px;
      width: 0%;
      height: 3px;
      background-color: #ef476f;
      animation: daraclProgressAnimation 3s;
    }
  }
}

@keyframes daraclProgressAnimation {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@keyframes daraclFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes daraclFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes daraToastHide {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(calc(100% + 20px));
  }
}
